<div id="site_list">
<h1>Listing types</h1>

<table>

<% @types.each do |type| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
       <td class="list_description">
         <dl>
           <dt><b><%= link_to type.name, 'types/'+type.id.to_s+'/sites' %></b></dt>
           <dd><%= truncate(strip_tags(type.description),
                              :length => 80) %></dd>
         </dl>
       </td>
   <!-- Acciones agrupadas en 1 celda en varias lineas -->
       <td class="list_actions">
         <%= link_to 'Show', type %> <br/>
         <%= link_to 'Edit', edit_type_path(type) %><br/>
         <%= link_to 'Destroy', type,
                     :confirm => 'Are you sure?',
                     :method => :delete %>
       </td>
    </tr>
  <% end %>
  </table>
</div>


<br />

<b><%= link_to 'New Type', new_type_path %></b>
