<%= form_for(@viaje) do |f| %>
  <% if @viaje.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@viaje.errors.count, "error") %> prohibited this viaje from being saved:</h2>

      <ul>
      <% @viaje.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  
<%= hidden_field_tag(:"viaje[site_id]", @viaje.site_id) %>
<% @sitio = Site.find(@viaje.site_id) %>
<b><%= @sitio.name  %></b>
  <br />    

  </div>
 <%@prio = Viaje.find(:all, :select=>"orden") %>
<%= hidden_field_tag(:"viaje[orden_old]", @viaje.orden) %>
       <%= f.collection_select(:orden, @prio, :orden, :orden) %>
   orden

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
