<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= @viaje.site_id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @viaje.nombre %>
</p>


<%= link_to 'Edit', edit_viaje_path(@viaje) %> |
<%= link_to 'Back', viajes_path %>
