
<div id="site_list">
<% if params[:type_id].nil? or params[:type_id].empty? %>

<h1>Todos Los Sitios </h1>
<% @num else type_id=params[:type_id] %>

<h1> <%= @type %></h1>
<% end %>
<table>
 <% @sites.each do |site| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even')%>" >
<td>
  <%= link_to image_tag(site.image_url, :class => 'list_image'), site %>
</td>
    
<td class="list_description">
  <dl>      <!-- definition list -->
    <dt>    <!-- definition list name-->
        <b> <%= link_to site.name, site %></b>
<%= form_for site, :url => {:controller=>"viajes", :action => "create"}  do |f| %>
<%= hidden_field_tag(:"viaje[site_id]", site.id) %>  
<%= hidden_field_tag(:"viaje[orden]", @num_orden_sig) %> 
<%= hidden_field_tag(:_method, "POST") %>
 
  <%= f.submit "Add to Viaje" %>
<% end %>
</dt>
    <dd>    <!-- definition list text -->
        <%= truncate(strip_tags(site.description),
            :length => 80) %></dd>
  </dl>
</td>

 <!-- Acciones agrupadas en 1 celda en varias lineas -->
      <td class="list_actions">
        <%= link_to 'Show', site %><br/>
        <%= link_to 'Edit', edit_site_path(site) %><br/>
        <%= link_to 'Destroy', site,
                    :confirm => 'Are you sure?',
                    :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div> <br />


<b><%= link_to 'New Site', new_site_path %></b>
