<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
  <title>Planet</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to('Index', planet_index_path) %>
  <%= link_to('Contact', planet_contact_path) %>
  <%= link_to('Ejemplo', planet_ejemplo_path)  %>
  <%= link_to('Author', planet_author_path)  %>

<%= yield %>

  <%= link_to('Index', planet_index_path) %>
  <%= link_to('Contact', planet_contact_path) %>
  <%= link_to('Ejemplo', planet_ejemplo_path)  %>
  <%= link_to('Author', planet_author_path)  %>

</body>
</html>

=======
<!DOCTYPE html> 
<html> 
<head> 
  <title>Planet Travel Site</title> 
<!-- START:stylesheet --> 
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "planet", :media => "all" %><!-- <label id="code.slt"/> --> 
<!-- END:stylesheet --> 
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> --> 
</head> 
<body id="planet"> 
  <div id="banner"> 
    <%= image_tag("logo3.png") %>
    <%= @page_title || "Planet Travel Site" %><!-- <label id="code.depot.e.title"/> --> 
  </div> 
  <div id="columns"> 
    <div id="side"> 
      <%= link_to "Home", planet_index_path %><br /> 
      <%= link_to "Tipos",  types_path %><br /> 
      <%= link_to "Sitios", sites_path %><br /> 
      <%= link_to "Contact", planet_contact_path %>
    </div> 
    <div id="main"> 
      <%= yield %><!-- <label id="code.depot.e.include"/> --> 
    </div> 
  </div> 
</body> 
</html> 
>>>>>>> origin
