<!DOCTYPE html>
<html>
<head>
  <title>Planet Travel Site</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "planet" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body id="planet">
<div id="banner">
  <%= image_tag("logo3.png") %>
  <%= @page_title || "Planet Travel Site" %>
</div>
<div id="columns">
	<div id="side">
<dl>
  <dt><%= link_to "Sitios", sites_path %> </dt>
<dt><%= link_to "Tipos", types_path %> </dt>


 <% @types= Type.all %>
	

	<% for i in 0 ..@types.count-1 do %>
		<dd>  <%=  link_to @types[i].name, types_path+"/"+(i+1).to_s+"/"+"sites" %></dd>
	<% end  %>


<dt><%=link_to('Home', planet_index_path) %> </dt> 
<dt><%=link_to('Contact', planet_contact_path) %></dt> 
<dt><%=link_to('Ejemplo', planet_ejemplo_path) %> </dt> 
<dt><%=link_to('Author', planet_author_path) %></dt>
</dl>
	</div>
	<div id="main">
		<%= yield %> 
	</div>

<%= link_to "Sitios", sites_path %> |
<%= link_to "Tipos", types_path %> |<%=link_to('Home', planet_index_path) %> | <%=link_to('Contact', planet_contact_path) %>| <%=link_to('Ejemplo', planet_ejemplo_path) %> | <%=link_to('Author', planet_author_path) %>
</div>
</body>
</html>
